html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: 'Crimson Text', serif;
  min-width: 960px;
  min-height: 600px;
}
.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 40px;
  min-width: 960px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #000));
  background: -webkit-linear-gradient(top, #333 0%, #000 100%);
  background: -moz-linear-gradient(top, #333 0%, #000 100%);
  background: -o-linear-gradient(top, #333 0%, #000 100%);
  background: -ms-linear-gradient(top, #333 0%, #000 100%);
  background: linear-gradient(top, #333 0%, #000 100%);
  border-bottom: 1px solid #333;
  color: #fff;
}
.header .title,
.header .subtitle,
.header .nav {
  line-height: 40px;
}
.header .title,
.header .subtitle {
  float: left;
}
.header .title {
  font-size: 26px;
  margin-left: 20px;
}
.header .title .js {
  color: #ebb;
}
.header .subtitle {
  font-size: 16px;
  margin-left: 20px;
}
.header .nav {
  float: right;
}
.header .nav a {
  display: block;
  float: left;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}
.header .nav a:hover {
  color: #f88;
}
.page {
  position: relative;
  padding-top: 40px;
  min-height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background: linear-gradient(top, #fff 0%, #eee 100%);
  border-bottom: 5px solid #aaa;
}
.page .next {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  width: 100%;
  color: #000;
  text-decoration: none;
}
.page .next:hover {
  color: #a00000;
}
.demo .title,
.demo .subtitle {
  text-align: center;
}
.demo .title {
  margin: 10% 0 0 0;
  line-height: 76px;
  font-size: 76px;
}
.demo .title .js {
  color: #a00000;
}
.demo .subtitle {
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}
.demo .activeKeys {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 80px auto 0 auto;
  padding: 26px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  width: 60%;
  background: #000;
  color: #fff;
  font-family: 'Source Code Pro', sans-serif;
}
